@font-face {
  font-family: 'ubuntu';
  src:  url('fonts/Blambot\ Casual\ Regular.ttf') format('truetype');
}

body {
  font-family: 'ubuntu';
  src:  url('fonts/Blambot\ Casual\ Regular.ttf') format('truetype');
  background-color: #181a1b;
  color: #e8e6e3;
}

.settings-section {
  display: flex;
  justify-content: space-between;
}

.settings-section label {
  font-weight: 700;
  font-size: 1.2rem;
}

.settings-section select {
  width: 2rem;
}

.rules-section {
  border: 1px solid #444;
  padding: 0.5rem;
  font-size: small;
  background-color: #104046;
  border-color: #bbb;
}

.rules-section summary {
  cursor: pointer;
}

.rules-section ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: decimal;
}
.rules-section li {
  margin-left: 1rem;
  width: calc(665px - 2rem);
}

header button {
  padding: 1rem;
}

header button:active {
  transform: scale(.98);
}

h1 {
  text-align: center;
}

h1 .header-sprite {
  display: inline-block;
  text-align: center;
  height: 2em;
  vertical-align: middle;
}

table {
  margin-bottom: 15px;
}

td {
  border: 2px solid black;
  background-color: #084f977a;
  width: calc(665px - 2rem);
  height: 50px;
  cursor: pointer;
  border-color: rgb(140, 130, 115)
}

td:hover {
  background-color: rgb(28, 31, 32);
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.last_cell {
  background-color: rgba(64, 0, 0, 0.474);
}

.marked {
  background-color: #004a0e;
}

.marked:hover {
  background-color: #012a00;
}

button {
  font-family: 'ubuntu';
  src:  url('fonts/Blambot\ Casual\ Regular.ttf') format('truetype');
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: #3f0036;
  border-color: rgb(140, 130, 115);
  color: #e8e6e3;
}

.button2 {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: #104046;
  border-color: rgb(140, 130, 115);
  color: #e8e6e3;
}

.game-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.seed-label {
  font-size: small;
}

.marked.bingo {
  background-color: darkgreen;
}

.error {
  padding: .5rem;
  border: 2px solid red;
  background-color: #ffa0a0;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  td {
    width: 162px;
  }

  body {
    font-size: 1.4rem;
    padding-top: 5rem;
  }

  span {
    font-size: 1.6rem;
    padding: 0 9px;
  }

  button {
    font-size: 2rem;
    padding: 1rem .5rem;
  }

  .settings-section label {
    font-size: 2rem;
  }

  .settings-section select {
    width: 4rem;
    font-size: 2rem;
  }

  .rules-section li {
    width: 810px;
  }
}
